<div class="container notfound">
    <h2>Not found. Back to Berlin</h2>
    <span><i class=""></i></span>&nbsp;&nbsp;&nbsp;
    <i class=""></i>&nbsp;&nbsp;&nbsp;
    <span><i class=""></i></span>&nbsp;&nbsp;&nbsp;
    <i class=""></i>
</div>
